@{
	ViewBag.Title = "Appraise";
}

<script src="~/Scripts/softAppraise.res.js"></script>
<script src="~/Scripts/windowStorage.js"></script>

@*<div class="fl dz-area">
		<a class="dz-icon" href="javascript:SetCount('yes',{$softinfo.softid})">
			<i></i>赞
		</a>
		<span class="fl">(<i id="dingcount">{$:softinfo.GoodCount}</i>)</span>
	</div>*@

<div class="fl dz-area">
	<a class="dz-icon" href="javascript:SetCount('yes',5185823)">
		<i></i>赞
	</a>
	<span class="fl">(<i id="dingcount">4</i>)</span>
</div>
<script src="~/Scripts/SoftInfo.js"></script>

