<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--配置log4net开始-->
	<!--注册让在.net 中支持log4net开始-->
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
	</configSections>
	<!--注册让在.net 中支持log4net结束-->
	<!--该节点和上面section的name对应-->
	<log4net>

		<!--可以统一设置所有日志器的Append和level(开始)-->
		<!--这样子做就不用每个日志器都设置一遍了,每个日志器可以从root继承配置信息-->
		<!--<root>
      <level value="DEBUG" />
      -->
		<!--<appender-ref ref="LogFileAppender" />配置输出到文件-->
		<!--
      <appender-ref ref="ConsoleAppender" />
    </root>-->
		<!--可以统一设置所有日志器的Append和level(结束)-->


		<!--配置日志器开始-->
		<!--日志器名字name:命名空间.类名(随意自己起名字，这是为了方便找到)-->
		<logger name="testApp.Logging">
			<!--设置哪个Appender-->
			<appender-ref ref="LogFileAppender"></appender-ref>
			<!--设置DEBUG等级-->
			<level value="ALL"/>

		</logger>
		<!--配置日志器结束-->

		<!--Appender配置输出控制台开始-->
		<!--可以配置Appender输出到哪些地方，具体看文档-->
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
			<!--使用的布局-->
			<layout type="log4net.Layout.PatternLayout">
				<!--输出格式的参数,每个都有意义-->
				<param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n"/>
			</layout>
		</appender>
		<!--Appender配置输出控制台结束-->


		<!--Appender配置输出到文件开始-->
		<appender name="LogFileAppender" type="log4net.Appender.FileAppender" >
			<!--输出文件，还有起名字-->
			<param name="File" value="log-file.txt" />
			<!--追加模式为true-->
			<param name="AppendToFile" value="true" />
			<!--输出布局开始-->
			<layout type="log4net.Layout.PatternLayout">
				<!--内容头部-->
				<param name="Header" value="[Header]\r\n"/>
				<!--内容尾部-->
				<param name="Footer" value="[Footer]\r\n"/>

				<param name="ConversionPattern" value="%d [%t] %-5p %c [%x]  - %m%n" />
			</layout>
			<!--输出布局结束-->
		</appender>
		<!--Appender配置输出到文件结束-->
	</log4net>

	<!--配置log4net结束-->
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
</configuration>